# Instacart Market Basket Analysis

### Input File
* input/departments.csv
* input/orders.csv
* input/products.csv
* input/order_products__prior.csv
* input/order_products__train.csv

In [1]:
import pandas as pd

## Load Dataset

In [2]:
aisle = pd.read_csv("input/aisles.csv")
print(aisle.shape)
print(aisle.head())

departments = pd.read_csv("input/departments.csv")
print(departments.shape)
print(departments.head())

orders = pd.read_csv("input/orders.csv")
print(orders.shape)
print(orders.head())

products = pd.read_csv("input/products.csv")
print(products.shape)
print(products.head())

order_products__prior = pd.read_csv("input/order_products__prior.csv")
print(order_products__prior.shape)
print(order_products__prior.head())

order_products__train = pd.read_csv("input/order_products__train.csv")
print(order_products__train.shape)
print(order_products__train.head())

(134, 2)
   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation
(21, 2)
   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol
(3421083, 7)
   order_id  user_id eval_set  order_number  order_dow  order_hour_of_day  \
0   2539329        1    prior             1          2                  8
1   2398795        1    prior             2          3                  7
2    473747        1    prior             3          3                 12
3   2254736        1    prior             4          4                  7
4    431534        1    prior             5          4                 15

   days_since_prior_order
0                     NaN
1                    15.0
2                    21.0
3                    29.0
4                    28.0
(49688, 4)
   product_id                                       product_name  aisle_id  \
0           1                         Chocolate Sandwich Cookies        61
1           2                                   All-Seasons Salt       104
2           3               Robust Golden Unsweetened Oolong Tea        94
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...        38
4           5                          Green Chile Anytime Sauce         5

   department_id
0             19
1             13
2              7
3              1
4             13
(32434489, 4)
   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0
(1384617, 4)
   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [3]:
ord_orderProductsPrior = pd.merge(orders, order_products__prior, on=['order_id'])
ord_orderProductsPrior.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,196,1,0
1,2539329,1,prior,1,2,8,NaN,14084,2,0
2,2539329,1,prior,1,2,8,NaN,12427,3,0
3,2539329,1,prior,1,2,8,NaN,26088,4,0
4,2539329,1,prior,1,2,8,NaN,26405,5,0

In [4]:
ord_orderProductsPrior_products = pd.merge(ord_orderProductsPrior, products, on=['product_id'])

In [5]:
cProductName_cOrderHourOfDay = ord_orderProductsPrior_products[["product_name", "order_hour_of_day"]]
cProductName_cOrderHourOfDay

                                               product_name  order_hour_of_day
0                                                      Soda                  8
1                                                      Soda                  7
2                                                      Soda                 12
3                                                      Soda                  7
4                                                      Soda                 15
5                                                      Soda                  7
6                                                      Soda                  9
7                                                      Soda                 14
8                                                      Soda                 16
9                                                      Soda                  8
10                                                     Soda                  9
11                                                     Soda                 16
12                                                     Soda                 11
13                                                     Soda                  9
14                                                     Soda                 10
15                                                     Soda                 14
16                                                     Soda                 12
17                                                     Soda                 17
18                                                     Soda                 10
19                                                     Soda                  8
20                                                     Soda                 11
21                                                     Soda                 16
22                                                     Soda                 12
23                                                     Soda                  9
24                                                     Soda                 10
25                                                     Soda                 10
26                                                     Soda                 10
27                                                     Soda                  7
28                                                     Soda                 11
29                                                     Soda                 10
...                                                     ...                ...
32434459          Florentine Spinach and Cheese Pasta Sauce                 14
32434460  Whitening Plus Scope Crest Complete Multi-Bene...                 13
32434461  Whitening Plus Scope Crest Complete Multi-Bene...                 16
32434462                           Miss Treated Conditioner                 11
32434463                                 Peachtree Schnapps                 16
32434464                             Hennepin Farmhouse Ale                  7
32434465                                  Cld/Flu Van Chrry                 15
32434466  Lowfat Cherry Lime Supernova Kefir Cultured Mi...                 20
32434467                              18 Year Scotch Whisky                 16
32434468                              18 Year Scotch Whisky                 13
32434469  Training  Fluoride Free Toothpaste Apple & Ban...                 11
32434470  Training  Fluoride Free Toothpaste Apple & Ban...                 14
32434471                                 All Purpose Eraser                 15
32434472                                 All Purpose Eraser                 10
32434473                                Orange Energy Shots                 13
32434474                                Orange Energy Shots                  9
32434475                                Orange Energy Shots                  9
32434476                                Orange Energy Shots                 10
32434477                                Orange Energy Shots                 13
32434478                                Orange Energy Shots                  6
32434479                                Orange Energy Shots                 10
32434480                                Orange Energy Shots                 12
32434481                                Orange Energy Shots                 10
32434482                                Orange Energy Shots                 12
32434483                                Orange Energy Shots                 14
32434484                                Orange Energy Shots                 15
32434485                                Orange Energy Shots                 11
32434486                              Zucchini Chips, Pesto                  7
32434487                              Zucchini Chips, Pesto                  5
32434488                      Hot Oatmeal Multigrain Raisin                 14

[32434489 rows x 2 columns]

In [6]:
print(type(cProductName_cOrderHourOfDay))
valueCounts_orderHourOfDayProduct = cProductName_cOrderHourOfDay.groupby(["order_hour_of_day"])["product_name"].value_counts()
print(valueCounts_orderHourOfDayProduct.shape)

valueCounts_orderHourOfDayProduct

<class 'pandas.core.frame.DataFrame'>
(767868,)

order_hour_of_day  product_name
0                  Banana                                                                                     2815
                   Bag of Organic Bananas                                                                     2712
                   Organic Strawberries                                                                       1839
                   Organic Baby Spinach                                                                       1768
                   Organic Hass Avocado                                                                       1398
                   Organic Avocado                                                                            1176
                   Large Lemon                                                                                 981
                   Limes                                                                                       938
                   Strawberries                                                                                925
                   Organic Whole Milk                                                                          922
                   Organic Raspberries                                                                         919
                   Organic Garlic                                                                              760
                   Organic Blueberries                                                                         741
                   Organic Zucchini                                                                            738
                   Cucumber Kirby                                                                              729
                   Organic Yellow Onion                                                                        702
                   Organic Lemon                                                                               630
                   Organic Grape Tomatoes                                                                      629
                   Seedless Red Grapes                                                                         584
                   Organic Cucumber                                                                            573
                   Carrots                                                                                     565
                   Organic Fuji Apple                                                                          561
                   Organic Red Onion                                                                           556
                   Apple Honeycrisp Organic                                                                    540
                   Organic Tomato Cluster                                                                      536
                   Organic Baby Carrots                                                                        535
                   Organic Cilantro                                                                            532
                   Organic Large Extra Fancy Fuji Apple                                                        525
                   Organic Baby Arugula                                                                        518
                   Honeycrisp Apple                                                                            513
                                                                                                              ...
23                 Zero Dish Soap Fragrance Free                                                                 1
                   Zero Kiwi Strawberry Nutrient Enhanced Water                                                  1
                   Zesty Dill Spears                                                                             1
                   Zesty French Dressing                                                                         1
                   Zesty Garlic Bread                                                                            1
                   Zesty Garlic Chips                                                                            1
                   Zesty Honey Mustard                                                                           1
                   Zesty Lemon Hummus                                                                            1
                   Zinc Tablets                                                                                  1
                   Zinfandel, Lodi, California                                                                   1
                   Zingers Cakes                                                                                 1
                   Zingers Raspberry Cakes                                                                       1
                   Zipper Bags Sandwich - 50 CT                                                                  1
                   Zipper Bags Storage Quart                                                                     1
                   Ziti                                                                                          1
                   Ziti & Meatballs                                                                              1
                   ZzzQuil Nighttime Liquid Sleep-Aid Twin Pack                                                  1
                   \"Constant Comment\" Black Tea                                                                1
                   \"Constant Comment\" Decaffeinated Black Tea Blend                                            1
                   \"Louis Ba-Kahn\" Chocolate Chip Cookie & Brown Butter Candied Bacon Ice Cream Sandwich       1
                   eat your vegetables Vegetable Chips Sour Cream & Onion                                        1
                   for All Mouth Sores Fresh Mint Oral Debriding Agent/Antiseptic Rinse/Pain Reliever            1
                   fruitwater® Strawberry Kiwi Sparkling Water                                                   1
                   in 100% Juice Mixed Fruit                                                                     1
                   of Norwich Original English Mustard Powder Double Superfine                                   1
                   pumpkin spice                                                                                 1
                   smart Blend Chicken & Rice Formula Dry Dog Food                                               1
                   with Color Safe Brightener Power Paks 2in1 Stain Fighter                                      1
                   with Seasoned Roasted Potatoes Scrambled Eggs & Sausage                                       1
                   with Twist Ties Sandwich & Storage Bags                                                       1
Name: product_name, Length: 767868, dtype: int64

In [7]:
products_departments = pd.merge(products, departments, on=['department_id'])
print(products_departments.shape)
products_departments.head()

(49688, 5)

,product_id,product_name,aisle_id,department_id,department
0,1,Chocolate Sandwich Cookies,61,19,snacks
1,16,Mint Chocolate Flavored Syrup,103,19,snacks
2,25,Salted Caramel Lean Protein & Fiber Bar,3,19,snacks
3,32,Nacho Cheese White Bean Chips,107,19,snacks
4,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,snacks